* * * * * ~/Repos/sh/git-backup/sh-backup.sh
* * * * * ~/Repos/sh/git-backup/dotfiles-backup.sh
* * * * * ~/.config/i3/scripts/uptime.sh
* * * * * rclone sync ~/Dropbox /mnt/Data/Dropbox
* * * * * rclone sync ~/Repos /mnt/Data/Repos
* * * * * rclone sync ~/Development /mnt/Data/Development
@reboot sleep 60 && rclone sync od-tup:Shared/ /mnt/Data/Shared
@reboot sleep 60 && rclone sync od-tup:School/ /mnt/Data/School
#@reboot sleep 300 && date >> ~/date.txt
